In [5]:
cd tops5_passes25_phrasemachine

/Users/ellieking/govuk-lda-tagger/enviro_experiments/tops20_passes20_textacy

In [6]:
import csv
import pandas as pd
import re #regular expression

In [13]:
df_top5 = pd.read_csv('PM_top5_p25_tags.csv', header=None, names=list('abcdefgh'))

In [20]:
cd ../tops10_passes25_phrasemachine

/Users/ellieking/govuk-lda-tagger/enviro_experiments/tops10_passes25_textacy

In [21]:
df_top10 = pd.read_csv('top10_p25_tags.csv', header=None, names=list('abcdefgh'))

In [20]:
cd ../tops20_passes25_phrasemachine

/Users/ellieking/govuk-lda-tagger/enviro_experiments/tops10_passes25_textacy

In [21]:
df_top20 = pd.read_csv('top20_p25_tags.csv', header=None, names=list('abcdefgh'))

In [22]:
df_top20['b'] = df_top20['b'].str.replace(r'\[\(', '')
df_top10['b'] = df_top10['b'].str.replace(r'\[\(', '')
df_top5['b'] = df_top5['b'].str.replace(r'\[\(', '')

In [23]:
df2_top20 = df_top20.drop(df_top20.columns[[2, 3, 4, 5, 6, 7]], axis=1)
df2_top10 = df_top10.drop(df_top10.columns[[2, 3, 4, 5, 6, 7]], axis=1)
df2_top5 =  df_top5.drop(df_top5.columns[[2, 3, 4, 5, 6, 7]], axis=1)

In [24]:
df2_top20.columns = ['url', 'topic_id_20top']
df2_top10.columns = ['url', 'topic_id_10top']
df2_top5.columns = ['url', 'topic_id_5top']

In [25]:
df2_top20.head(10)

                                                 url topic_id_20top
0  /guidance/salmonella-get-your-egg-laying-hens-...              8
1  /guidance/animal-by-products-that-can-be-sprea...              0
2  /government/statistics/sheep-and-goats-scrapie...              3
3  /government/statistics/great-britain-poultry-r...             11
4  /government/publications/application-for-veter...              3
5  /government/publications/avian-wildlife-casual...             19
6  /government/statistics/cross-compliance-2013-i...              8
7  /government/publications/monitoring-the-humane...              6
8  /government/publications/foot-and-mouth-diseas...              3
9  /government/publications/bluetongue-in-greece-...              8

In [26]:
df2_top10.head(10)

                                                 url topic_id_10top
0  /guidance/salmonella-get-your-egg-laying-hens-...              0
1  /guidance/animal-by-products-that-can-be-sprea...              9
2  /government/statistics/sheep-and-goats-scrapie...              9
3  /government/statistics/great-britain-poultry-r...              9
4  /government/publications/application-for-veter...              1
5  /government/publications/avian-wildlife-casual...              9
6  /government/statistics/cross-compliance-2013-i...              9
7  /government/publications/monitoring-the-humane...              9
8  /government/publications/foot-and-mouth-diseas...              9
9  /government/publications/bluetongue-in-greece-...              9

In [26]:
df2_top5.head(10)

                                                 url topic_id_10top
0  /guidance/salmonella-get-your-egg-laying-hens-...              0
1  /guidance/animal-by-products-that-can-be-sprea...              9
2  /government/statistics/sheep-and-goats-scrapie...              9
3  /government/statistics/great-britain-poultry-r...              9
4  /government/publications/application-for-veter...              1
5  /government/publications/avian-wildlife-casual...              9
6  /government/statistics/cross-compliance-2013-i...              9
7  /government/publications/monitoring-the-humane...              9
8  /government/publications/foot-and-mouth-diseas...              9
9  /government/publications/bluetongue-in-greece-...              9

In [29]:
df2_top5.shape

(18798, 2)

In [29]:
df2_top10.shape

(18798, 2)

In [30]:
df2_top20.shape

(18798, 2)

same number of rows in each so can do a merge

In [31]:
df_5_10 = pd.merge(df2_top5, df2_top10, left_index = True, right_index = True , indicator = True)

df_10_20 = pd.merge(df2_top10, df2_top20, left_index = True, right_index = True , indicator = True)

In [32]:
pd.crosstab(index=df_5_10["_merge"],  # Make a crosstab
                              columns="count") 

pd.crosstab(index=df_10_20["_merge"],  # Make a crosstab
                              columns="count")

col_0       count
_merge
left_only       0
right_only      0
both        18798

In [33]:
df_5_10[df_5_10.duplicated(keep=False)]
df_10_20[df_10_20.duplicated(keep=False)]

,url_x,topic_id_10top,url_y,topic_id_20top,_merge
3236,/government/publications/countryside-stewardsh...,5,/government/publications/countryside-stewardsh...,19,both
18481,/government/publications/countryside-stewardsh...,5,/government/publications/countryside-stewardsh...,19,both

In [34]:
df_5_10.shape

(18798, 5)

In [34]:
df_10_20.shape

(18798, 5)

looks like merging on index is safer than merging on url. use df_both2

In [37]:
df_5_10.head(5)

,url_x,topic_id_10top,topic_id_20top
0,/guidance/salmonella-get-your-egg-laying-hens-...,0,8
1,/guidance/animal-by-products-that-can-be-sprea...,9,0
2,/government/statistics/sheep-and-goats-scrapie...,9,3
3,/government/statistics/great-britain-poultry-r...,9,11
4,/government/publications/application-for-veter...,1,3

In [37]:
df_10_20.head(5)

,url_x,topic_id_10top,topic_id_20top
0,/guidance/salmonella-get-your-egg-laying-hens-...,0,8
1,/guidance/animal-by-products-that-can-be-sprea...,9,0
2,/government/statistics/sheep-and-goats-scrapie...,9,3
3,/government/statistics/great-britain-poultry-r...,9,11
4,/government/publications/application-for-veter...,1,3

In [36]:
df_5_10 = df_5_10.drop(df_5_10.columns[[2, 4]], axis=1)
df_10_20 = df_10_20.drop(df_10_20.columns[[2, 4]], axis=1)

In [41]:
sankey_data_5_10_PM = df_5_10.groupby(['topic_id_5top', 'topic_id_10top']).size().to_frame('value').reset_index()
sankey_data_5_10_PM.head(10)

  topic_id_10top topic_id_20top  value
0              0              0     54
1              0              1      5
2              0             10      9
3              0             11    327
4              0             12      5
5              0             13     14
6              0             14    119
7              0             15     43
8              0             16     10
9              0             17     25

In [41]:
sankey_data_10_20_PM = df_10_20.groupby(['topic_id_10top', 'topic_id_20top']).size().to_frame('value').reset_index()
sankey_data_10_20_PM.head(10)

  topic_id_10top topic_id_20top  value
0              0              0     54
1              0              1      5
2              0             10      9
3              0             11    327
4              0             12      5
5              0             13     14
6              0             14    119
7              0             15     43
8              0             16     10
9              0             17     25

In [44]:
sankey_data_5_10_PM.columns = ['target', 'source','value']
sankey_data_10_20_PM.columns = ['target', 'source','value']

In [45]:
sankey_data_5_10_PM.head(10)

  target source  value
0      0      0   1763
1      0      1      5
2      0      2     74
3      0      4      2
4      1      0    339
5      1      1     83
6      1      2    200
7      1      3     10
8     10      0   1272
9     10      1    112

In [45]:
sankey_data_10_20_PM.head(10)

  target source  value
0      0      0   1763
1      0      1      5
2      0      2     74
3      0      4      2
4      1      0    339
5      1      1     83
6      1      2    200
7      1      3     10
8     10      0   1272
9     10      1    112

export to r for plotting due to sankey widget error -something to do with Javascript caching

In [42]:
cd ../

/Users/ellieking/govuk-lda-tagger/enviro_experiments

In [44]:
sankey_data_5_10_PM.to_csv('sankey_data_5_10_PM.csv', index = False)
sankey_data_10_20_PM.to_csv('sankey_data_10_20_PM.csv', index = False)