In [3]:
cd ../tops5_p25_phrasemachine

/Users/ellieking/govuk-lda-tagger/enviro_experiments/tops5_p25_phrasemachine

In [4]:
pwd

'/Users/ellieking/govuk-lda-tagger/enviro_experiments/tops5_p25_phrasemachine'

In [5]:
import csv
import pandas as pd
import re #regular expression

In [6]:
df_top5 = pd.read_csv('PM_top5_p25_tags.csv', header=None, names=list('abcdefgh'))

In [7]:
cd ../tops10_p25_phrasemachine

/Users/ellieking/govuk-lda-tagger/enviro_experiments/tops10_p25_phrasemachine

In [8]:
df_top10 = pd.read_csv('PM_top10p25_tags.csv', header=None, names=list('abcdefgh'))

In [9]:
cd ../tops20_p25_phrasemachine

/Users/ellieking/govuk-lda-tagger/enviro_experiments/tops20_p25_phrasemachine

In [11]:
df_top20 = pd.read_csv('PM_top20p25_tags.csv', header=None, names=list('abcdefgh'))

In [12]:
df_top20['b'] = df_top20['b'].str.replace(r'\[\(', '')
df_top10['b'] = df_top10['b'].str.replace(r'\[\(', '')
df_top5['b'] = df_top5['b'].str.replace(r'\[\(', '')

In [13]:
df2_top20 = df_top20.drop(df_top20.columns[[2, 3, 4, 5, 6, 7]], axis=1)
df2_top10 = df_top10.drop(df_top10.columns[[2, 3, 4, 5, 6, 7]], axis=1)
df2_top5 =  df_top5.drop(df_top5.columns[[2, 3, 4, 5, 6, 7]], axis=1)

In [14]:
df2_top20.columns = ['url', 'topic_id_20top']
df2_top10.columns = ['url', 'topic_id_10top']
df2_top5.columns = ['url', 'topic_id_5top']

In [15]:
df2_top20.head(10)

                                                 url topic_id_20top
0  /guidance/salmonella-get-your-egg-laying-hens-...             11
1  /guidance/animal-by-products-that-can-be-sprea...              8
2  /government/statistics/sheep-and-goats-scrapie...              3
3  /government/statistics/great-britain-poultry-r...             12
4  /government/publications/application-for-veter...              3
5  /government/publications/avian-wildlife-casual...             11
6  /government/statistics/cross-compliance-2013-i...              3
7  /government/publications/monitoring-the-humane...             16
8  /government/publications/foot-and-mouth-diseas...              7
9  /government/publications/bluetongue-in-greece-...              5

In [16]:
df2_top10.head(10)

                                                 url topic_id_10top
0  /guidance/salmonella-get-your-egg-laying-hens-...              2
1  /guidance/animal-by-products-that-can-be-sprea...              3
2  /government/statistics/sheep-and-goats-scrapie...              6
3  /government/statistics/great-britain-poultry-r...              3
4  /government/publications/application-for-veter...              5
5  /government/publications/avian-wildlife-casual...              2
6  /government/statistics/cross-compliance-2013-i...              6
7  /government/publications/monitoring-the-humane...              2
8  /government/publications/foot-and-mouth-diseas...              1
9  /government/publications/bluetongue-in-greece-...              0

In [17]:
df2_top5.head(10)

                                                 url topic_id_5top
0  /guidance/salmonella-get-your-egg-laying-hens-...             3
1  /guidance/animal-by-products-that-can-be-sprea...             4
2  /government/statistics/sheep-and-goats-scrapie...             0
3  /government/statistics/great-britain-poultry-r...             3
4  /government/publications/application-for-veter...             4
5  /government/publications/avian-wildlife-casual...             4
6  /government/statistics/cross-compliance-2013-i...             4
7  /government/publications/monitoring-the-humane...             4
8  /government/publications/foot-and-mouth-diseas...             0
9  /government/publications/bluetongue-in-greece-...             0

In [18]:
df2_top5.shape

(18798, 2)

In [19]:
df2_top10.shape

(18798, 2)

In [20]:
df2_top20.shape

(18798, 2)

same number of rows in each so can do a merge

In [21]:
df_5_10 = pd.merge(df2_top5, df2_top10, left_index = True, right_index = True , indicator = True)

df_10_20 = pd.merge(df2_top10, df2_top20, left_index = True, right_index = True , indicator = True)

In [22]:
pd.crosstab(index=df_5_10["_merge"],  # Make a crosstab
                              columns="count") 

pd.crosstab(index=df_10_20["_merge"],  # Make a crosstab
                              columns="count")

col_0       count
_merge
left_only       0
right_only      0
both        18798

In [23]:
df_5_10[df_5_10.duplicated(keep=False)]
df_10_20[df_10_20.duplicated(keep=False)]

,url_x,topic_id_10top,url_y,topic_id_20top,_merge
3236,/government/publications/countryside-stewardsh...,4,/government/publications/countryside-stewardsh...,6,both
18481,/government/publications/countryside-stewardsh...,4,/government/publications/countryside-stewardsh...,6,both

In [24]:
df_5_10.shape

(18798, 5)

In [25]:
df_10_20.shape

(18798, 5)

looks like merging on index is safer than merging on url. use df_both2

In [26]:
df_5_10.head(5)

,url_x,topic_id_5top,url_y,topic_id_10top,_merge
0,/guidance/salmonella-get-your-egg-laying-hens-...,3,/guidance/salmonella-get-your-egg-laying-hens-...,2,both
1,/guidance/animal-by-products-that-can-be-sprea...,4,/guidance/animal-by-products-that-can-be-sprea...,3,both
2,/government/statistics/sheep-and-goats-scrapie...,0,/government/statistics/sheep-and-goats-scrapie...,6,both
3,/government/statistics/great-britain-poultry-r...,3,/government/statistics/great-britain-poultry-r...,3,both
4,/government/publications/application-for-veter...,4,/government/publications/application-for-veter...,5,both

In [27]:
df_10_20.head(5)

,url_x,topic_id_10top,url_y,topic_id_20top,_merge
0,/guidance/salmonella-get-your-egg-laying-hens-...,2,/guidance/salmonella-get-your-egg-laying-hens-...,11,both
1,/guidance/animal-by-products-that-can-be-sprea...,3,/guidance/animal-by-products-that-can-be-sprea...,8,both
2,/government/statistics/sheep-and-goats-scrapie...,6,/government/statistics/sheep-and-goats-scrapie...,3,both
3,/government/statistics/great-britain-poultry-r...,3,/government/statistics/great-britain-poultry-r...,12,both
4,/government/publications/application-for-veter...,5,/government/publications/application-for-veter...,3,both

In [28]:
df_5_10 = df_5_10.drop(df_5_10.columns[[2, 4]], axis=1)
df_10_20 = df_10_20.drop(df_10_20.columns[[2, 4]], axis=1)

In [29]:
sankey_data_5_10_PM = df_5_10.groupby(['topic_id_5top', 'topic_id_10top']).size().to_frame('value').reset_index()
sankey_data_5_10_PM.head(10)

  topic_id_5top topic_id_10top  value
0             0              0    114
1             0              1    319
2             0              2     76
3             0              3    344
4             0              4     97
5             0              5    429
6             0              6     97
7             0              7     82
8             0              8     97
9             0              9    187

In [30]:
sankey_data_10_20_PM = df_10_20.groupby(['topic_id_10top', 'topic_id_20top']).size().to_frame('value').reset_index()
sankey_data_10_20_PM.head(10)

  topic_id_10top topic_id_20top  value
0              0              0     45
1              0              1     29
2              0             10     32
3              0             11     22
4              0             12     22
5              0             13    138
6              0             14      6
7              0             15     57
8              0             16     43
9              0             17     61

In [36]:
sankey_data_5_10_PM.columns = ['source', 'target','value']
sankey_data_10_20_PM.columns = ['source', 'target','value']

In [37]:
sankey_data_5_10_PM.head(10)

  source target  value
0      0      0    114
1      0      1    319
2      0      2     76
3      0      3    344
4      0      4     97
5      0      5    429
6      0      6     97
7      0      7     82
8      0      8     97
9      0      9    187

In [38]:
sankey_data_10_20_PM.head(10)

  source target  value
0      0      0     45
1      0      1     29
2      0     10     32
3      0     11     22
4      0     12     22
5      0     13    138
6      0     14      6
7      0     15     57
8      0     16     43
9      0     17     61

export to r for plotting due to sankey widget error -something to do with Javascript caching

In [42]:
cd ../

/Users/ellieking

In [43]:
sankey_data_5_10_PM.to_csv('sankey_data_5_10_PM.csv', index = False)
sankey_data_10_20_PM.to_csv('sankey_data_10_20_PM.csv', index = False)