In [5]:
cd tops20_passes20_textacy

/Users/ellieking/govuk-lda-tagger/enviro_experiments/tops20_passes20_textacy

In [6]:
import csv
import pandas as pd
import re #regular expression

In [13]:
df_top20 = pd.read_csv('enviro20tags_20p.csv', header=None, names=list('abcdefgh'))

In [20]:
cd ../tops10_passes25_textacy

/Users/ellieking/govuk-lda-tagger/enviro_experiments/tops10_passes25_textacy

In [21]:
df_top10 = pd.read_csv('top10_p25_tags.csv', header=None, names=list('abcdefgh'))

In [22]:
df_top20['b'] = df_top20['b'].str.replace(r'\[\(', '')
df_top10['b'] = df_top10['b'].str.replace(r'\[\(', '')

In [23]:
df2_top20 = df_top20.drop(df_top20.columns[[2, 3, 4, 5, 6, 7]], axis=1)
df2_top10 = df_top10.drop(df_top10.columns[[2, 3, 4, 5, 6, 7]], axis=1)

In [24]:
df2_top20.columns = ['url', 'topic_id_20top']
df2_top10.columns = ['url', 'topic_id_10top']

In [25]:
df2_top20.head(10)

                                                 url topic_id_20top
0  /guidance/salmonella-get-your-egg-laying-hens-...              8
1  /guidance/animal-by-products-that-can-be-sprea...              0
2  /government/statistics/sheep-and-goats-scrapie...              3
3  /government/statistics/great-britain-poultry-r...             11
4  /government/publications/application-for-veter...              3
5  /government/publications/avian-wildlife-casual...             19
6  /government/statistics/cross-compliance-2013-i...              8
7  /government/publications/monitoring-the-humane...              6
8  /government/publications/foot-and-mouth-diseas...              3
9  /government/publications/bluetongue-in-greece-...              8

In [26]:
df2_top10.head(10)

                                                 url topic_id_10top
0  /guidance/salmonella-get-your-egg-laying-hens-...              0
1  /guidance/animal-by-products-that-can-be-sprea...              9
2  /government/statistics/sheep-and-goats-scrapie...              9
3  /government/statistics/great-britain-poultry-r...              9
4  /government/publications/application-for-veter...              1
5  /government/publications/avian-wildlife-casual...              9
6  /government/statistics/cross-compliance-2013-i...              9
7  /government/publications/monitoring-the-humane...              9
8  /government/publications/foot-and-mouth-diseas...              9
9  /government/publications/bluetongue-in-greece-...              9

In [29]:
df2_top10.shape

(18798, 2)

In [30]:
df2_top20.shape

(18798, 2)

same number of rows in each so can do a merge

In [31]:
df_both = pd.merge(df2_top10, df2_top20, left_index = True, right_index = True , indicator = True)

In [32]:
pd.crosstab(index=df_both["_merge"],  # Make a crosstab
                              columns="count")

col_0       count
_merge
left_only       0
right_only      0
both        18798

In [33]:
df_both[df_both.duplicated(keep=False)]

,url_x,topic_id_10top,url_y,topic_id_20top,_merge
3236,/government/publications/countryside-stewardsh...,5,/government/publications/countryside-stewardsh...,19,both
18481,/government/publications/countryside-stewardsh...,5,/government/publications/countryside-stewardsh...,19,both

In [34]:
df_both.shape

(18798, 5)

looks like merging on index is safer than merging on url. use df_both2

In [37]:
df_both.head(5)

,url_x,topic_id_10top,topic_id_20top
0,/guidance/salmonella-get-your-egg-laying-hens-...,0,8
1,/guidance/animal-by-products-that-can-be-sprea...,9,0
2,/government/statistics/sheep-and-goats-scrapie...,9,3
3,/government/statistics/great-britain-poultry-r...,9,11
4,/government/publications/application-for-veter...,1,3

In [36]:
df_both = df_both.drop(df_both.columns[[2, 4]], axis=1)

In [39]:
df_matrix = pd.crosstab(index=df_both["topic_id_10top"], 
                           columns=df_both["topic_id_20top"])
df_matrix

topic_id_20top,0,1,10,11,12,13,14,15,16,17,18,19,2,3,4,5,6,7,8,9
topic_id_10top,,,,,,,,,,,,,,,,,,,,
0,54,5,9,327,5,14,119,43,10,25,14,76,12,34,42,97,88,165,30,7
1,5,6,66,42,34,137,24,19,11,44,44,12,5,215,18,123,14,43,22,53
2,370,25,13,60,67,5,9,20,94,28,92,17,21,50,28,208,133,147,32,66
3,20,5,4,104,9,13,6,87,1,14,2,3,1,10,5,24,10,12,57,5
4,178,7,13,29,13,178,15,9,58,16,12,23,12,141,28,52,123,43,78,56
5,56,8,4,40,18,7,124,31,58,15,123,32,71,72,29,73,79,35,622,64
6,28,5,28,45,19,13,72,24,70,12,44,34,13,74,93,59,8,39,26,36
7,13,2,35,41,15,135,11,11,15,3,6,23,22,72,61,1042,47,38,35,606
8,9,0,1,7,0,1,14,0,5,6,5,1,10,1,28,8,21,14,0,50
9,1336,117,138,1039,185,97,145,148,830,130,158,104,93,353,361,928,356,1391,608,490

In [40]:
list(df_matrix)

['0',
 '1',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9']

In [41]:
sankey_data = df_both.groupby(['topic_id_10top', 'topic_id_20top']).size().to_frame('value').reset_index()
sankey_data.head(10)

  topic_id_10top topic_id_20top  value
0              0              0     54
1              0              1      5
2              0             10      9
3              0             11    327
4              0             12      5
5              0             13     14
6              0             14    119
7              0             15     43
8              0             16     10
9              0             17     25

In [44]:
sankey_data.columns = ['target', 'source','value']

In [45]:
sankey_data.head(10)

  target source  value
0      0      0   1763
1      0      1      5
2      0      2     74
3      0      4      2
4      1      0    339
5      1      1     83
6      1      2    200
7      1      3     10
8     10      0   1272
9     10      1    112

export to r for plotting due to sankey widget error -something to do with Javascript caching

In [42]:
cd ../

/Users/ellieking/govuk-lda-tagger/enviro_experiments

In [44]:
sankey_data.to_csv('sankey_data_10_20.csv', index = False)