In [97]:
import csv
import pandas as pd
import re #regular expression

In [98]:
pwd

'/Users/ellieking/govuk-lda-tagger/enviro_experiments/topic_hierarchy_dendrogram'

In [99]:
cd ../tops20_p25_phrasemachine

/Users/ellieking/govuk-lda-tagger/enviro_experiments/tops20_p25_phrasemachine

In [100]:
freestyle_20 = pd.read_csv('PM_top20p25_tags.csv', header=None, names=list('abcdefgh'))

In [101]:
cd ../topic_hierarchy_dendrogram

/Users/ellieking/govuk-lda-tagger/enviro_experiments/topic_hierarchy_dendrogram

In [102]:
first = pd.read_csv('first_top4p25_tags.csv', header=None, names=list('abcdefgh'))
second = pd.read_csv('second_top4p25_tags.csv', header=None, names=list('abcdefgh'))
third = pd.read_csv('third_top4p25_tags.csv', header=None, names=list('abcdefgh'))
fourth = pd.read_csv('fourth_top4p25_tags.csv', header=None, names=list('abcdefgh'))
fifth = pd.read_csv('fifth_top4p25_tags.csv', header=None, names=list('abcdefgh'))

In [103]:
first.shape
first.head(10)

,a,b,c,d,e,f,g,h
0,/government/statistics/sheep-and-goats-scrapie...,[(0,0.91260685471790615),(3,0.033788942211084472),(1,0.026960181216966743)],NaN
1,/government/publications/foot-and-mouth-diseas...,[(1,0.8790436333361793),(0,0.04038472041866617),(3,0.040345034448932365)],NaN
2,/government/publications/bluetongue-in-greece-...,[(0,0.89174256977663802),(1,0.036869410649407561),(3,0.035762542339884358)],NaN
3,/government/publications/vesicular-stomatitis-...,[(0,0.89276881241946238),(1,0.036296233597281097),(3,0.035618037544572094)],NaN
4,/government/publications/swine-fever-in-domest...,[(3,0.89660154801836123),(1,0.034868964000546614),(0,0.034581969550215419)],NaN
5,/government/publications/bluetongue-in-greece-...,[(0,0.89156628295462448),(1,0.036527789543109),(2,0.035961421734076182)],NaN
6,/government/publications/pest-de-petits-rumina...,[(1,0.90341605499369726),(2,0.032227470506635374),(3,0.032204198588522248)],NaN
7,/government/publications/foot-and-mouth-diseas...,[(1,0.88472567149648407),(0,0.038503440421681946),(3,0.038417183099476351)],NaN
8,/government/publications/avian-influenza-in-po...,[(2,0.88713102230883978),(0,0.037820791603013479),(1,0.03772363223259468)],NaN
9,/guidance/animal-by-product-processors-how-to-...,[(1,0.95128143089723705),(0,0.016285143509912441),(3,0.016225126720582624)],NaN

In [104]:
second.shape

(1483, 8)

In [105]:
third.shape

(1164, 8)

In [106]:
fourth.shape

(2775, 8)

In [107]:
fifth.shape

(11534, 8)

In [108]:
def tidystring(df):
   "remove the brackets from the topic id in column b"
   df['b'] = df['b'].str.replace(r'\[\(', '')
   return df

In [109]:
first  = tidystring(first)
second = tidystring(second)
third = tidystring(third)
fourth = tidystring(fourth)
fifth = tidystring(fifth)

In [110]:
def increasetopicnumber(df, n):
   "increase the topic number by n so that after append they are unique to inital dataset"
   df['b'] = pd.to_numeric(df['b'])
   df['b'] = df['b'] + n
   return df

In [111]:
second = increasetopicnumber(second, 4)
third = increasetopicnumber(third, 8)
fourth = increasetopicnumber(fourth, 12)
fifth = increasetopicnumber(fifth, 16)

In [112]:
second.head(5)

,a,b,c,d,e,f,g,h
0,/government/news/professor-dirk-pfeiffer-joins...,4,0.93895881216871635),(3,0.020359384950138823),(2,0.020349420480804615)],NaN
1,/government/news/twyford-seed-supplier-herbise...,7,0.94258649830687813),(0,0.01918940165537722),(2,0.019129042003890814)],NaN
2,/guidance/sheep-scab,7,0.91501738663743226),(1,0.028357779215854157),(0,0.028331472067329382)],NaN
3,/government/collections/guides-and-forms-for-p...,5,0.90919923318805707),(2,0.030303233727249898),(0,0.030286764766713253)],NaN
4,/guidance/african-horse-sickness,5,0.86999306864689463),(0,0.043843067932106641),(3,0.04331117536997605)],NaN

In [113]:
frames = [first, second, third, fourth, fifth]
dendro_20 = pd.concat(frames)

In [114]:
dendro_20.shape

(18798, 8)

In [115]:
freestyle_20.shape

(18798, 8)

In [116]:
freestyle_20 = tidystring(freestyle_20)

In [117]:
freestyle_20 = freestyle_20.drop(freestyle_20.columns[[2, 3, 4, 5, 6, 7]], axis=1)
dendro_20 = dendro_20.drop(dendro_20.columns[[2, 3, 4, 5, 6, 7]], axis=1)

In [118]:
freestyle_20.columns = ['url', 'topic_id_f']
dendro_20.columns = ['url', 'topic_id_d']

might need to merge on URL this time because index order may be different after appending first/secondthird etc:

merge the two outputs from the different methods

In [119]:
dendro_20.head(10)

                                                 url topic_id
0  /government/statistics/sheep-and-goats-scrapie...        0
1  /government/publications/foot-and-mouth-diseas...        1
2  /government/publications/bluetongue-in-greece-...        0
3  /government/publications/vesicular-stomatitis-...        0
4  /government/publications/swine-fever-in-domest...        3
5  /government/publications/bluetongue-in-greece-...        0
6  /government/publications/pest-de-petits-rumina...        1
7  /government/publications/foot-and-mouth-diseas...        1
8  /government/publications/avian-influenza-in-po...        2
9  /guidance/animal-by-product-processors-how-to-...        1

In [120]:
both = pd.merge(freestyle_20, dendro_20, on = 'url' , indicator = True)

In [121]:
pd.crosstab(index=both["_merge"],  # Make a crosstab
                              columns="count")

col_0       count
_merge
left_only       0
right_only      0
both        18800

get that duplicate row again!

In [122]:
both[both.duplicated(keep=False)]

,url,topic_id_x,topic_id_y,_merge
3236,/government/publications/countryside-stewardsh...,6,17,both
3237,/government/publications/countryside-stewardsh...,6,17,both
3238,/government/publications/countryside-stewardsh...,6,17,both
3239,/government/publications/countryside-stewardsh...,6,17,both

In [123]:
dedup = both.drop_duplicates(keep = 'last')

In [124]:
dedup.shape

(18797, 4)

this still needs sorting out as there is now one less row than there should be...

In [125]:
dedup.head(10)

,url,topic_id_x,topic_id_y,_merge
0,/guidance/salmonella-get-your-egg-laying-hens-...,11,15,both
1,/guidance/animal-by-products-that-can-be-sprea...,8,18,both
2,/government/statistics/sheep-and-goats-scrapie...,3,0,both
3,/government/statistics/great-britain-poultry-r...,12,13,both
4,/government/publications/application-for-veter...,3,19,both
5,/government/publications/avian-wildlife-casual...,11,16,both
6,/government/statistics/cross-compliance-2013-i...,3,18,both
7,/government/publications/monitoring-the-humane...,16,18,both
8,/government/publications/foot-and-mouth-diseas...,7,1,both
9,/government/publications/bluetongue-in-greece-...,5,0,both

In [126]:
compare_method = dedup.drop(dedup.columns[[3]], axis=1)

this code counts the rows per topic*topic for value column in sankey data

In [127]:
sankey_data_methods = compare_method.groupby(['topic_id_x', 'topic_id_y']).size().to_frame('value').reset_index()

sankey_data_methods.head(10)

  topic_id_x topic_id_y  value
0          0          4      9
1          0          5     18
2          0          6      9
3          0          7     24
4          0          8     13
5          0          9     17
6          0         10     18
7          0         11     25
8          0         12     21
9          0         13     13

In [128]:
sankey_data_methods.columns = ['source', 'target','value']

In [129]:
sankey_data_methods.head(10)

  source target  value
0      0      4      9
1      0      5     18
2      0      6      9
3      0      7     24
4      0      8     13
5      0      9     17
6      0     10     18
7      0     11     25
8      0     12     21
9      0     13     13

In [130]:
cd ../Sankey_method2

/Users/ellieking/govuk-lda-tagger/enviro_experiments/Sankey_method2

In [131]:
sankey_data_methods.to_csv('sankey_data_compare_methods.csv', index = False)